# Segunda entrega

Carga de bases de datos de matrículas desde 2017 a 2022

In [1]:
import pandas as pd

# Matrículas por año
Matrículas establecimientos educacionales del país por estudiantes
Periodo 2018 a 2022

In [29]:
# Matrícula 2018

m2018 = pd.read_csv('data/matriculas/2018/m2018.csv', sep=';')
display(m2018.head())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_5867/3612824222.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  m2018 = pd.read_csv('data/matriculas/2018/m2018.csv', sep=';')

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,NOM_DEPROV_RBD,...,GEN_ALU,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,ENS
0,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,ARICA,...,2,196804,50,15,15101,ARICA,410,41001,400,13
1,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,ARICA,...,2,198403,34,15,15101,ARICA,410,41001,400,13
2,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,ARICA,...,1,199707,20,15,15101,ARICA,410,41001,400,13
3,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,ARICA,...,2,199606,22,13,13130,SAN MIGUEL,410,41001,400,13
4,2018,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,ARICA,...,1,199305,25,15,15101,ARICA,410,41001,400,13

In [47]:
# Matrícula 2019
m2019 = pd.read_csv('data/matriculas/2019/m2019.csv', sep=';')
display(m2019.info())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_5867/3398473347.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  m2019 = pd.read_csv('data/matriculas/2019/m2019.csv', sep=';')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3624343 entries, 0 to 3624342
Data columns (total 35 columns):
 #   Column          Dtype
---  ------          -----
 0   AGNO            int64
 1   RBD             int64
 2   DGV_RBD         int64
 3   NOM_RBD         object
 4   COD_REG_RBD     int64
 5   NOM_REG_RBD_A   object
 6   COD_PRO_RBD     int64
 7   COD_COM_RBD     int64
 8   NOM_COM_RBD     object
 9   COD_DEPROV_RBD  int64
 10  NOM_DEPROV_RBD  object
 11  COD_DEPE        int64
 12  COD_DEPE2       int64
 13  RURAL_RBD       int64
 14  ESTADO_ESTAB    int64
 15  COD_ENSE        int64
 16  COD_ENSE2       int64
 17  COD_ENSE3       int64
 18  COD_GRADO       int64
 19  COD_GRADO2      int64
 20  LET_CUR         object
 21  COD_JOR         int64
 22  COD_TIP_CUR     int64
 23  COD_DES_CUR     int64
 24  MRUN            int64
 25  GEN_ALU         int64
 26  FEC_NAC_ALU     int64
 27  EDAD_ALU        object
 28  COD_REG_ALU     int64
 29  COD_COM_ALU     int64
 30  NOM_COM_ALU     object
 31  COD_SEC         int64
 32  COD_ESPE        int64
 33  COD_RAMA        int64
 34  ENS             int64
dtypes: int64(28), object(7)
memory usage: 967.8+ MB

None

In [3]:
# Matrícula 2020
m2020 = pd.read_csv('data/matriculas/2020/m2020.csv', sep=';')
display(m2020.head())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_5867/1047334583.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  m2020 = pd.read_csv('data/matriculas/2020/m2020.csv', sep=';')

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,GEN_ALU,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,ENS
0,2020,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,1,197712,42,15,15101,ARICA,410,41001,400,13
1,2020,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,2,199212,27,15,15101,ARICA,410,41001,400,13
2,2020,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,1,200201,18,15,15101,ARICA,410,41001,400,13
3,2020,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,2,198404,36,15,15101,ARICA,410,41001,400,13
4,2020,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,2,200206,18,15,15101,ARICA,410,41001,400,13

In [23]:
# Matrícula 2021
m2021 = pd.read_csv('data/matriculas/2021/m2021.csv', sep=';')
display(m2021.head())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_5867/3481849292.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  m2021 = pd.read_csv('data/matriculas/2021/m2021.csv', sep=';')

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,COD_MEN,ENS
0,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,196703,54,15,15101,ARICA,410,41001,400,0,13
1,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,199607,24,15,15101,ARICA,410,41001,400,0,13
2,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,196911,51,15,15101,ARICA,410,41001,400,0,13
3,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,197802,43,1,1101,IQUIQUE,410,41001,400,0,13
4,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,199509,25,15,15101,ARICA,410,41001,400,0,13

In [22]:
# Matrícula 2022
m2022 = pd.read_csv('data/matriculas/2022/m2022.csv', sep=';')
display(m2022.head())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_5867/377555926.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  m2022 = pd.read_csv('data/matriculas/2022/m2022.csv', sep=';')

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,FEC_NAC_ALU,EDAD_ALU,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_SEC,COD_ESPE,COD_RAMA,COD_MEN,ENS
0,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,198107,40,15,15101,ARICA,410,41001,400,0,13
1,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,197706,45,15,15101,ARICA,410,41001,400,0,13
2,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,200309,18,15,15101,ARICA,410,41001,400,0,13
3,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,197207,49,15,15101,ARICA,410,41001,400,0,13
4,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,197812,43,15,15101,ARICA,410,41001,400,0,13

# Rendimiento
Rendimiento por estudiantes años 2018 a 2022 en todos los colegios de Chile

In [ ]:
# Rendimiento 2018

r2018 = pd.read_csv('data/rendimiento/2018/r2018.csv', sep=';')
display(r2018.head())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_7728/3368084935.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  r2018 = pd.read_csv('data/rendimiento/2018/r2018.csv', sep=';')

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_REG_ALU,COD_COM_ALU,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R
0,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,T
1,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,Y
2,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,T
3,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,"6,4",95,P,P
4,2018,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15,15101,ARICA,400,410,41001,0,0,Y,Y

In [ ]:
# Rendimiento 2019

r2019 = pd.read_csv('data/rendimiento/2019/r2019.csv', sep=';')
display(r2019.head())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_7728/137400403.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  r2019 = pd.read_csv('data/rendimiento/2019/r2019.csv', sep=';')

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_COM_ALU,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,COD_MEN
0,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,5,85,P,P,0
1,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,0,0,Y,Y,0
2,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,"4,9",89,R,R,0
3,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,0,0,Y,Y,0
4,2019,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,1107,ALTO HOSPICIO,400,410,41001,0,0,Y,T,0

In [ ]:
# Rendimiento 2020

r2020 = pd.read_csv('data/rendimiento/2020/r2020.csv', sep=';')
display(r2020.head())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_7728/3939847684.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  r2020 = pd.read_csv('data/rendimiento/2020/r2020.csv', sep=';')

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_COM_ALU,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,COD_MEN
0,2020,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,"6,7",100,P,P,0
1,2020,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,"5,5",100,P,P,0
2,2020,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,0,0,Y,Y,0
3,2020,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,"5,2",100,P,P,0
4,2020,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,"4,9",100,P,P,0

In [ ]:
# Rendimiento 2021

r2021 = pd.read_csv('data/rendimiento/2021/r2021.csv', sep=';')
display(r2021.head())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_7728/1373237334.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  r2021 = pd.read_csv('data/rendimiento/2021/r2021.csv', sep=';')

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_COM_ALU,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,COD_MEN
0,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,"6,5",98,P,P,0
1,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,"6,5",98,P,P,0
2,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,"5,8",90,P,P,0
3,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,0,0,Y,Y,0
4,2021,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,1101,IQUIQUE,400,410,41001,"4,1",70,R,R,0

In [ ]:
# Rendimiento 2022

r2022 = pd.read_csv('data/rendimiento/2022/r2022.csv', sep=';')
display(r2022.head())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_7728/884186596.py:3: DtypeWarning: Columns (25) have mixed types. Specify dtype option on import or set low_memory=False.
  r2022 = pd.read_csv('data/rendimiento/2022/r2022.csv', sep=';')

,AGNO,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_COM_ALU,NOM_COM_ALU,COD_RAMA,COD_SEC,COD_ESPE,PROM_GRAL,ASISTENCIA,SIT_FIN,SIT_FIN_R,COD_MEN
0,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,"6,6",98,P,P,0
1,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,0,0,Y,T,0
2,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,0,0,Y,Y,0
3,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,0,0,Y,T,0
4,2022,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,151,...,15101,ARICA,400,410,41001,0,0,Y,Y,0

# Asistencia mensual
Asistencia mensual por estudiantes años 2018 a 2022 en todos los colegios de Chile. Con excepción de 2020 y 2021 por covid

# Asistencia mensual 2018

In [ ]:
# Marzo
a201803 = pd.read_csv('data/asistencia/2018/20180816_Asistencia_Marzo_2018_20180415_PUBL.csv', sep=';')
display(a201803.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2018,3,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,710054,2,199408,15101,ARICA,4,9,",4444"
1,2018,3,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,4895728,2,196804,15101,ARICA,2,9,",2222"
2,2018,3,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,7519082,2,196805,15101,ARICA,3,9,",3333"
3,2018,3,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,7752592,2,198403,15101,ARICA,9,9,1
4,2018,3,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,8445111,1,199707,15101,ARICA,8,9,",8889"

In [ ]:
# Abril
a201804 = pd.read_csv('data/asistencia/2018/20180830_Asistencia_Abril_2018_20180515_PUBL.csv', sep=';')
display(a201804.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2018,4,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,710054,2,199408,15101,ARICA,0,19,0
1,2018,4,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,4895728,2,196804,15101,ARICA,18,19,",9474"
2,2018,4,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,7519082,2,196805,15101,ARICA,0,19,0
3,2018,4,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,7752592,2,198403,15101,ARICA,19,19,1
4,2018,4,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,8445111,1,199707,15101,ARICA,11,19,",5789"

In [ ]:
# Mayo
a201805 = pd.read_csv('data/asistencia/2018/20180720_Asistencia_Mayo_2018_20180615_PUBL.csv', sep=';')
display(a201805.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2018,5,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,710054,2,199408,15101,ARICA,0,21,0
1,2018,5,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,4895728,2,196804,15101,ARICA,10,21,",4762"
2,2018,5,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,7519082,2,196805,15101,ARICA,0,21,0
3,2018,5,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,7752592,2,198403,15101,ARICA,21,21,1
4,2018,5,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,8445111,1,199707,15101,ARICA,0,21,0

In [ ]:
# Junio
a201806 = pd.read_csv('data/asistencia/2018/20180816_Asistencia_Junio_2018_20180715_PUBL.csv', sep=';')
display(a201806.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2018,6,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,710054,2,199408,15101,ARICA,0,18,0
1,2018,6,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,4895728,2,196804,15101,ARICA,0,18,0
2,2018,6,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,7519082,2,196805,15101,ARICA,0,18,0
3,2018,6,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,7752592,2,198403,15101,ARICA,17,18,",9444"
4,2018,6,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,8445111,1,199707,15101,ARICA,0,18,0

In [ ]:
# Julio
a201807 = pd.read_csv('data/asistencia/2018/20180904_Asistencia_Julio_2018_20180815_PUBL.csv', sep=';')
display(a201807.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2018,7,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,710054,2,199408,15101,ARICA,0,9,0
1,2018,7,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,4895728,2,196804,15101,ARICA,0,9,0
2,2018,7,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,7519082,2,196805,15101,ARICA,0,9,0
3,2018,7,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,7752592,2,198403,15101,ARICA,9,9,1
4,2018,7,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,8445111,1,199707,15101,ARICA,0,9,0

In [ ]:
# Agosto
a201808 = pd.read_csv('data/asistencia/2018/20181026_Asistencia_Agosto_2018_20180915_PUBL.csv', sep=';')
display(a201808.head())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_7728/3830107455.py:2: DtypeWarning: Columns (20) have mixed types. Specify dtype option on import or set low_memory=False.
  a201808 = pd.read_csv('data/asistencia/2018/20181026_Asistencia_Agosto_2018_20180915_PUBL.csv', sep=';')

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,COD_DEPROV_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2018,8,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,710054,2,199408,15101,ARICA,0,22,0
1,2018,8,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,4895728,2,196804,15101,ARICA,0,22,0
2,2018,8,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,7519082,2,196805,15101,ARICA,0,22,0
3,2018,8,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,7752592,2,198403,15101,ARICA,22,22,1
4,2018,8,1,9,LICEO POLITECNICO ARICA,15,151,15101,ARICA,151,...,3,A,8445111,1,199707,15101,ARICA,0,22,0

In [ ]:
# Septiembre
a201809 = pd.read_csv('data/asistencia/2018/20181127_Asistencia_Septiembre_2018_20181015_PUBL.csv', sep=';')
display(a201809.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2018,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,710054,2,199408,15101,ARICA,0,15,0
1,2018,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,4895728,2,196804,15101,ARICA,0,15,0
2,2018,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,7519082,2,196805,15101,ARICA,0,15,0
3,2018,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,7752592,2,198403,15101,ARICA,15,15,1
4,2018,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8445111,1,199707,15101,ARICA,0,15,0

In [ ]:
# Octubre
a201810 = pd.read_csv('data/asistencia/2018/20181213_Asistencia_Octubre_2018_20181115_PUBL.csv', sep=';')
display(a201810.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2018,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,710054,2,199408,15101,ARICA,0,21,0
1,2018,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,4895728,2,196804,15101,ARICA,0,21,0
2,2018,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,7519082,2,196805,15101,ARICA,0,21,0
3,2018,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,7752592,2,198403,15101,ARICA,21,21,1
4,2018,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8445111,1,199707,15101,ARICA,0,21,0

In [ ]:
# Noviembre
a201811 = pd.read_csv('data/asistencia/2018/20190107_Asistencia_Noviembre_2018_20181215_PUBL.csv', sep=';')
display(a201811.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2018,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,710054,2,,15101,ARICA,0,20,0
1,2018,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,4895728,2,,15101,ARICA,0,20,0
2,2018,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,7519082,2,,15101,ARICA,0,20,0
3,2018,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,7752592,2,,15101,ARICA,20,20,1
4,2018,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8445111,1,,15101,ARICA,0,20,0

In [ ]:
# Diciembre
a201812 = pd.read_csv('data/asistencia/2018/20190121_Asistencia_Diciembre_2018_20190115_PUBL.csv', sep=';')
display(a201812.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2018,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,710054,2,,15101,ARICA,0,5,0
1,2018,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,4895728,2,,15101,ARICA,0,5,0
2,2018,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,7519082,2,,15101,ARICA,0,5,0
3,2018,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,7752592,2,,15101,ARICA,5,5,1
4,2018,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8445111,1,,15101,ARICA,0,5,0

# Asistencia mensual 2019

In [ ]:
# Marzo
a201903 = pd.read_csv('data/asistencia/2019/20190514_Asistencia_Marzo_2019_20190415_PUBL.csv', sep=';')
display(a201903.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,3,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,0,10,0
1,2019,3,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,8,10,",8"
2,2019,3,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,4,10,",4"
3,2019,3,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,18244700,2,199507,15101,ARICA,10,10,1
4,2019,3,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,18524996,2,196502,15101,ARICA,10,10,1

In [ ]:
# Abril
a201904 = pd.read_csv('data/asistencia/2019/20190812_Asistencia_Abril_2019_20190515_PUBL.csv', sep=';')
display(a201904.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,4,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,16,20,",8"
1,2019,4,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,20,0
2,2019,4,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,3,20,",15"
3,2019,4,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,17,20,",85"
4,2019,4,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,20,0

In [ ]:
# Mayo
a201905 = pd.read_csv('data/asistencia/2019/20191511_Asistencia_Mayo_2019_20190615_PUBL.csv', sep=';')
display(a201905.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,5,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,16,20,",8"
1,2019,5,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,20,0
2,2019,5,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,19,20,",95"
3,2019,5,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,12,20,",6"
4,2019,5,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,20,0

In [ ]:
# Junio
a201906 = pd.read_csv('data/asistencia/2019/20191211_Asistencia_Junio_2019_20190715_PUBL.csv', sep=';')
display(a201906.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,13,19,",6842"
1,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,19,0
2,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,17,19,",8947"
3,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,19,0
4,2019,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,19,0

In [ ]:
# Julio
a201907 = pd.read_csv('data/asistencia/2019/20191211_Asistencia_Julio_2019_20190715_PUBL.csv', sep=';')
display(a201907.head())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_7728/2333755418.py:2: DtypeWarning: Columns (14,25) have mixed types. Specify dtype option on import or set low_memory=False.
  a201907 = pd.read_csv('data/asistencia/2019/20191211_Asistencia_Julio_2019_20190715_PUBL.csv', sep=';')

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,7,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,7,11,",6364"
1,2019,7,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,11,0
2,2019,7,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,7,11,",6364"
3,2019,7,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,11,0
4,2019,7,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,11,0

In [ ]:
# Agosto
a201908 = pd.read_csv('data/asistencia/2019/20191227_Asistencia_Agosto_2019_20190915_PUBL.csv', sep=';')
display(a201908.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,16,20,",8"
1,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,20,0
2,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,20,20,1
3,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,20,0
4,2019,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,20,0

In [ ]:
# Septiembre
a201909 = pd.read_csv('data/asistencia/2019/20200102_Asistencia_Septiembre_2019_20191015_PUBL.csv', sep=';')
display(a201909.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,9,16,",5625"
1,2019,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,16,0
2,2019,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,15,16,",9375"
3,2019,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,16,0
4,2019,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,16,0

In [ ]:
# Octubre
a201910 = pd.read_csv('data/asistencia/2019/20200106_Asistencia_Octubre_2019_20191115_PUBL.csv', sep=';')
display(a201910.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,8,14,",5714"
1,2019,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,14,0
2,2019,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,7,14,",5"
3,2019,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,14,0
4,2019,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,14,0

In [ ]:
# Noviembre
a201911 = pd.read_csv('data/asistencia/2019/20200108_Asistencia_noviembre_2019_20191215_PUBL.csv', sep=';')
display(a201911.head())

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_7728/1034908559.py:2: DtypeWarning: Columns (21) have mixed types. Specify dtype option on import or set low_memory=False.
  a201911 = pd.read_csv('data/asistencia/2019/20200108_Asistencia_noviembre_2019_20191215_PUBL.csv', sep=';')

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,1,1,1
1,2019,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,1,0
2,2019,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,8598804,1,197712,15101,ARICA,0,1,0
3,2019,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,1,0
4,2019,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,11883473,2,200104,1107,ALTO HOSPICIO,0,1,0

In [ ]:
# Diciembre
a201912 = pd.read_csv('data/asistencia/2019/20200120_Asistencia_diciembre_2019_20200115_PUBL.csv', sep=';')
display(a201912.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2019,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,22466397,2,196101,15101,ARICA,0,0,0
1,2019,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,18524996,2,196502,15101,ARICA,0,0,0
2,2019,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,3738782,2,196403,15101,ARICA,0,0,0
3,2019,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,9591749,2,197611,15101,ARICA,0,0,0
4,2019,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2655917,1,199509,15101,ARICA,0,0,0

# Asistencia mensual 2022

In [ ]:
# Marzo
a202203 = pd.read_csv('data/asistencia/2022/20220426_Asistencia_marzo_2022_20220415_WEB.csv', sep=';')
display(a202203.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2022,3,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,459781,1,198107,15101,ARICA,14,14,1
1,2022,3,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,974395,2,196702,15101,ARICA,1,14,",0714"
2,2022,3,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2267103,2,200102,15101,ARICA,5,14,",3571"
3,2022,3,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2306638,1,200309,15101,ARICA,8,14,",5714"
4,2022,3,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,4332937,2,197207,15101,ARICA,12,14,",8571"

In [ ]:
# Abril
a202204 = pd.read_csv('data/asistencia/2022/20220526_Asistencia_ABRIL_2022_20220515_WEB.csv', sep=';')
display(a202204.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2022,4,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,459781,1,198107,15101,ARICA,20,20,1
1,2022,4,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,974395,2,196702,15101,ARICA,0,20,0
2,2022,4,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,1959596,1,197706,15101,ARICA,18,20,",9"
3,2022,4,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2267103,2,200102,15101,ARICA,0,20,0
4,2022,4,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2306638,1,200309,15101,ARICA,14,20,",7"

In [ ]:
# Mayo
a202205 = pd.read_csv('data/asistencia/2022/20220622_Asistencia_MAYO_2022_20220515_WEB.csv', sep=';')
display(a202205.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2022,5,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,459781,1,198107,15101,ARICA,22,22,1
1,2022,5,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,974395,2,196702,15101,ARICA,0,22,0
2,2022,5,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,1959596,1,197706,15101,ARICA,0,22,0
3,2022,5,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2267103,2,200102,15101,ARICA,0,22,0
4,2022,5,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2306638,1,200309,15101,ARICA,6,22,",2727"

In [ ]:
# Junio
a202206 = pd.read_csv('data/asistencia/2022/20220713_Asistencia_JUNIO_2022_20220615_WEB.csv', sep=';')
display(a202206.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2022,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,459781,1,198107,15101,ARICA,17,17,1
1,2022,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,974395,2,196702,15101,ARICA,0,17,0
2,2022,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,1959596,1,197706,15101,ARICA,0,17,0
3,2022,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2267103,2,200102,15101,ARICA,0,17,0
4,2022,6,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2306638,1,200309,15101,ARICA,2,17,",1176"

In [ ]:
# Julio
a202207 = pd.read_csv('data/asistencia/2022/20220831_Asistencia_JULIO_2022_20220815_WEB.csv', sep=';')
display(a202207.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2022,7,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,459781,1,198107,15101,ARICA,5,5,1
1,2022,7,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,974395,2,196702,15101,ARICA,0,5,0
2,2022,7,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,1959596,1,197706,15101,ARICA,0,5,0
3,2022,7,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2267103,2,200102,15101,ARICA,0,5,0
4,2022,7,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2306638,1,200309,15101,ARICA,0,5,0

In [ ]:
# Agosto
a202208 = pd.read_csv('data/asistencia/2022/20220831_Asistencia_AGOSTO_2022_20220815_WEB.csv', sep=';')
display(a202208.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2022,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,459781,1,198107,15101,ARICA,22,22,1
1,2022,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,974395,2,196702,15101,ARICA,0,22,0
2,2022,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,1959596,1,197706,15101,ARICA,0,22,0
3,2022,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2267103,2,200102,15101,ARICA,0,22,0
4,2022,8,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2306638,1,200309,15101,ARICA,0,22,0

In [ ]:
# Septiembre
a202209 = pd.read_csv('data/asistencia/2022/20220831_Asistencia_SEPTIEMBRE_2022_20220815_WEB.csv', sep=';')
display(a202209.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2022,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,459781,1,198107,15101,ARICA,14,14,1
1,2022,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,974395,2,196702,15101,ARICA,0,14,0
2,2022,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,1959596,1,197706,15101,ARICA,0,14,0
3,2022,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2267103,2,200102,15101,ARICA,0,14,0
4,2022,9,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2306638,1,200309,15101,ARICA,0,14,0

In [ ]:
# Octubre
a202210 = pd.read_csv('data/asistencia/2022/20221131_Asistencia_OCTUBRE_2022_20220815_WEB.csv', sep=';')
display(a202210.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2022,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,459781,1,198107,15101,ARICA,18,18,1
1,2022,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,974395,2,196702,15101,ARICA,0,18,0
2,2022,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,1959596,1,197706,15101,ARICA,0,18,0
3,2022,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2267103,2,200102,15101,ARICA,0,18,0
4,2022,10,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2306638,1,200309,15101,ARICA,0,18,0

In [ ]:
# Noviembre
a202211 = pd.read_csv('data/asistencia/2022/20221228_Asistencia_NOVIEMBRE_2022_20221215_WEB.csv', sep=';')
display(a202211.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2022,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,459781,1,198107,15101,ARICA,18,18,1
1,2022,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,974395,2,196702,15101,ARICA,0,18,0
2,2022,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,1959596,1,197706,15101,ARICA,0,18,0
3,2022,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2267103,2,200102,15101,ARICA,0,18,0
4,2022,11,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2306638,1,200309,15101,ARICA,0,18,0

In [ ]:
# Diciembre
a202212 = pd.read_csv('data/asistencia/2022/20230118_Asistencia_Diciembre_2022_20230115_WEB.csv', sep=';')
display(a202212.head())

,AGNO,MES_ESCOLAR,RBD,DGV_RBD,NOM_RBD,COD_REG_RBD,NOM_REG_RBD_A,COD_PRO_RBD,COD_COM_RBD,NOM_COM_RBD,...,COD_GRADO,LET_CUR,MRUN,GEN_ALU,FEC_NAC_ALU,COD_COM_ALU,NOM_COM_ALU,DIAS_ASISTIDOS,DIAS_TRABAJADOS,ASIS_PROMEDIO
0,2022,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,459781,1,198107,15101,ARICA,2,2,1
1,2022,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,974395,2,196702,15101,ARICA,0,2,0
2,2022,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,1959596,1,197706,15101,ARICA,0,2,0
3,2022,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2267103,2,200102,15101,ARICA,0,2,0
4,2022,12,1,9,LICEO POLITECNICO ARICA,15,AYP,151,15101,ARICA,...,3,A,2306638,1,200309,15101,ARICA,0,2,0

# Estudiantes desertores por año
Prueba de función de estudiantes desertores por año

In [37]:
# Función de estudiates desertores --- PROBLEMA no ELIMINA SOLAMENTE 4 medio, sino también 4 básico y otros grados 

def identificar_desertores(archivo_anterior, archivo_actual):
    # Cargar los archivos CSV en DataFrames de Pandas
    df_anterior = archivo_anterior
    df_actual = archivo_actual

    # Filtrar los estudiantes que tienen un código de grado inferior a 12
    desertores = df_anterior[df_anterior['COD_GRADO'] != 4]

    # Verificar si los estudiantes están presentes en el archivo actual
    desertores = desertores[~desertores['MRUN'].isin(df_actual['MRUN'])]

    # Devolver el resultado como DataFrame de Pandas
    return desertores

In [11]:
# Segunda versión de función estudiantes desertores


def identificar_desertores2(df_anterior, df_posterior):
    # Filtrar los estudiantes que tienen un código de grado inferior a 4 medio
    desertores = df_anterior[~((df_anterior['COD_GRADO'] == 4) & (df_anterior['COD_ENSE2'].isin([5, 7]))) & ~(df_anterior['COD_GRADO'] > 9)]

    # Verificar si los estudiantes están presentes en el archivo actual
    desertores = desertores[~desertores['MRUN'].isin(df_posterior['MRUN'].unique())]

    # Devolver el resultado como DataFrame de Pandas
    return desertores

In [35]:
# Tercera versión de función estudiantes desertores


def identificar_desertores3(df_anterior, df_posterior):
    # Filtrar los estudiantes que no son prebásica o de educación para adultos
    desertores = df_anterior[(df_anterior['COD_ENSE2'].isin([1, 6, 8]))]

    # Filtrar los estudiantes que tienen un código de grado inferior a 4 medio
    desertores = df_anterior[~((df_anterior['COD_GRADO'] == 4) & (df_anterior['COD_ENSE2'].isin([5, 7]))) & ~(df_anterior['COD_GRADO'] > 9)]

    # Verificar si los estudiantes están presentes en el archivo actual
    desertores = desertores[~desertores['MRUN'].isin(df_posterior['MRUN'].unique())]

    # Devolver el resultado como DataFrame de Pandas
    return desertores

In [48]:

m2018 = pd.read_csv('data/matriculas/2018/m2018.csv', sep=';')
m2019 = pd.read_csv('data/matriculas/2019/m2019.csv', sep=';')
total2019 = (m2019['COD_ENSE2'].isin([2, 3, 4, 5, 6, 7, 8]).sum())

# Identificar desertores
desertores_2018_2019 = identificar_desertores3(m2018, m2019)
print("Total de desertores:",len(desertores_2018_2019))
print("Desertores por género del estudiante")
print("Sin información:",((desertores_2018_2019['GEN_ALU'] == 0).sum()))
print("Hombre:",((desertores_2018_2019['GEN_ALU'] == 1).sum()))
print("Mujer:",((desertores_2018_2019['GEN_ALU'] == 2).sum()))
print("Desertores por tipo de dependencia")
print("Municipal:",((desertores_2018_2019['COD_DEPE2'] == 1).sum()))
print("Particular subvencionado:",((desertores_2018_2019['COD_DEPE2'] == 2).sum()))
print("Particular pagado:",((desertores_2018_2019['COD_DEPE2'] == 3).sum()))
print("Corporación de administración delegada:",((desertores_2018_2019['COD_DEPE2'] == 4).sum()))
print("Servicio local de educación:",((desertores_2018_2019['COD_DEPE2'] == 5).sum()))
print("Desertores por tipo de enseñanza")
print("Educación básica:",((desertores_2018_2019['COD_ENSE2'] == 1).sum()))
print("Educación media humanístico-científica:",((desertores_2018_2019['COD_ENSE2'] == 2).sum()))
print("Educación media técnico profesional:",((desertores_2018_2019['COD_ENSE2'] == 3).sum()))
print("Educación para adultos:",((desertores_2018_2019['COD_ENSE2'] == 6).sum()))
print("Educación prebásica:",((desertores_2018_2019['COD_ENSE2'] == 8).sum()))

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_23795/2553621283.py:1: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  m2018 = pd.read_csv('data/matriculas/2018/m2018.csv', sep=';')
/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_23795/2553621283.py:2: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  m2019 = pd.read_csv('data/matriculas/2019/m2019.csv', sep=';')

Total de desertores: 151039
Desertores por género del estudiante
Sin información: 0
Hombre: 84774
Mujer: 66265
Desertores por tipo de dependencia
Municipal: 67601
Particular subvencionado: 70071
Particular pagado: 9329
Corporación de administración delegada: 1133
Servicio local de educación: 2905
Desertores por tipo de enseñanza
Educación básica: 7529
Educación media humanístico-científica: 31024
Educación media técnico profesional: 7580
Educación para adultos: 74508
Educación prebásica: 4653

In [47]:
print(type(desertores_2018_2019))
print(type(total2019))

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.int64'>

In [52]:
print(desertores_2018_2019['MRUN'].count()/total2019*100)

4.664231187311626

In [37]:
print("Desertores por tipo de enseñanza y género")
print("Educación básica")
print("Hombre:",((desertores_2018_2019['GEN_ALU'] == 1) & (desertores_2018_2019['COD_ENSE2'] == 1)).sum())
print("Mujer:",((desertores_2018_2019['GEN_ALU'] == 2) & (desertores_2018_2019['COD_ENSE2'] == 1)).sum())
print("Educación media humanístico-científica")
print("Hombre:",((desertores_2018_2019['GEN_ALU'] == 1) & (desertores_2018_2019['COD_ENSE2'] == 2)).sum())
print("Mujer:",((desertores_2018_2019['GEN_ALU'] == 2) & (desertores_2018_2019['COD_ENSE2'] == 2)).sum())
print("Educación media técnico profesional")
print("Hombre:",((desertores_2018_2019['GEN_ALU'] == 1) & (desertores_2018_2019['COD_ENSE2'] == 3)).sum())
print("Mujer:",((desertores_2018_2019['GEN_ALU'] == 2) & (desertores_2018_2019['COD_ENSE2'] == 3)).sum())
print("Educación para adultos")
print("Hombre:",((desertores_2018_2019['GEN_ALU'] == 1) & (desertores_2018_2019['COD_ENSE2'] == 6)).sum())
print("Mujer:",((desertores_2018_2019['GEN_ALU'] == 2) & (desertores_2018_2019['COD_ENSE2'] == 6)).sum())
print("Educación prebásica")
print("Hombre:",((desertores_2018_2019['GEN_ALU'] == 1) & (desertores_2018_2019['COD_ENSE2'] == 8)).sum())
print("Mujer:",((desertores_2018_2019['GEN_ALU'] == 2) & (desertores_2018_2019['COD_ENSE2'] == 8)).sum())

Desertores por tipo de enseñanza y género
Educación básica
Hombre: 3975
Mujer: 3554
Educación media humanístico-científica
Hombre: 17239
Mujer: 13785
Educación media técnico profesional
Hombre: 4952
Mujer: 2628
Educación para adultos
Hombre: 40916
Mujer: 33592
Educación prebásica
Hombre: 2660
Mujer: 1993

In [38]:
print("Desertores por tipo de enseñanza y dependencia")
print("Educación básica")
print("Municipal:",((desertores_2018_2019['COD_DEPE2'] == 1) & (desertores_2018_2019['COD_ENSE2'] == 1)).sum())
print("Particular subvencionado:",((desertores_2018_2019['COD_DEPE2'] == 2) & (desertores_2018_2019['COD_ENSE2'] == 1)).sum())
print("Particular pagado:",((desertores_2018_2019['COD_DEPE2'] == 3) & (desertores_2018_2019['COD_ENSE2'] == 1)).sum())
print("Corporación de administración delegada:",((desertores_2018_2019['COD_DEPE2'] == 4) & (desertores_2018_2019['COD_ENSE2'] == 1)).sum())
print("Servicio local de educación:",((desertores_2018_2019['COD_DEPE2'] == 5) & (desertores_2018_2019['COD_ENSE2'] == 1)).sum())
print("Educación media humanístico-científica")
print("Municipal:",((desertores_2018_2019['COD_DEPE2'] == 1) & (desertores_2018_2019['COD_ENSE2'] == 2)).sum())
print("Particular subvencionado:",((desertores_2018_2019['COD_DEPE2'] == 2) & (desertores_2018_2019['COD_ENSE2'] == 2)).sum())
print("Particular pagado:",((desertores_2018_2019['COD_DEPE2'] == 3) & (desertores_2018_2019['COD_ENSE2'] == 2)).sum())
print("Corporación de administración delegada:",((desertores_2018_2019['COD_DEPE2'] == 4) & (desertores_2018_2019['COD_ENSE2'] == 2)).sum())
print("Servicio local de educación:",((desertores_2018_2019['COD_DEPE2'] == 5) & (desertores_2018_2019['COD_ENSE2'] == 2)).sum())
print("Educación media técnico profesional")
print("Municipal:",((desertores_2018_2019['COD_DEPE2'] == 1) & (desertores_2018_2019['COD_ENSE2'] == 3)).sum())
print("Particular subvencionado:",((desertores_2018_2019['COD_DEPE2'] == 2) & (desertores_2018_2019['COD_ENSE2'] == 3)).sum())
print("Particular pagado:",((desertores_2018_2019['COD_DEPE2'] == 3) & (desertores_2018_2019['COD_ENSE2'] == 3)).sum())
print("Corporación de administración delegada:",((desertores_2018_2019['COD_DEPE2'] == 4) & (desertores_2018_2019['COD_ENSE2'] == 3)).sum())
print("Servicio local de educación:",((desertores_2018_2019['COD_DEPE2'] == 5) & (desertores_2018_2019['COD_ENSE2'] == 3)).sum())
print("Educación para adultos")
print("Municipal:",((desertores_2018_2019['COD_DEPE2'] == 1) & (desertores_2018_2019['COD_ENSE2'] == 6)).sum())
print("Particular subvencionado:",((desertores_2018_2019['COD_DEPE2'] == 2) & (desertores_2018_2019['COD_ENSE2'] == 6)).sum())
print("Particular pagado:",((desertores_2018_2019['COD_DEPE2'] == 3) & (desertores_2018_2019['COD_ENSE2'] == 6)).sum())
print("Corporación de administración delegada:",((desertores_2018_2019['COD_DEPE2'] == 4) & (desertores_2018_2019['COD_ENSE2'] == 6)).sum())
print("Servicio local de educación:",((desertores_2018_2019['COD_DEPE2'] == 5) & (desertores_2018_2019['COD_ENSE2'] == 6)).sum())
print("Educación prebásica")
print("Municipal:",((desertores_2018_2019['COD_DEPE2'] == 1) & (desertores_2018_2019['COD_ENSE2'] == 8)).sum())
print("Particular subvencionado:",((desertores_2018_2019['COD_DEPE2'] == 2) & (desertores_2018_2019['COD_ENSE2'] == 8)).sum())
print("Particular pagado:",((desertores_2018_2019['COD_DEPE2'] == 3) & (desertores_2018_2019['COD_ENSE2'] == 8)).sum())
print("Corporación de administración delegada:",((desertores_2018_2019['COD_DEPE2'] == 4) & (desertores_2018_2019['COD_ENSE2'] == 8)).sum())
print("Servicio local de educación:",((desertores_2018_2019['COD_DEPE2'] == 5) & (desertores_2018_2019['COD_ENSE2'] == 8)).sum())

Desertores por tipo de enseñanza y dependencia
Educación básica
Municipal: 2976
Particular subvencionado: 2525
Particular pagado: 1892
Corporación de administración delegada: 0
Servicio local de educación: 136
Educación media humanístico-científica
Municipal: 15511
Particular subvencionado: 10936
Particular pagado: 3824
Corporación de administración delegada: 12
Servicio local de educación: 741
Educación media técnico profesional
Municipal: 4611
Particular subvencionado: 2810
Particular pagado: 13
Corporación de administración delegada: 0
Servicio local de educación: 146
Educación para adultos
Municipal: 30788
Particular subvencionado: 40272
Particular pagado: 2221
Corporación de administración delegada: 0
Servicio local de educación: 1227
Educación prebásica
Municipal: 2934
Particular subvencionado: 1495
Particular pagado: 0
Corporación de administración delegada: 0
Servicio local de educación: 224

In [55]:
# Crear dataframes vacíos
df_genero = pd.DataFrame()
df_tipo_dependencia = pd.DataFrame()
df_tipo_ensenanza = pd.DataFrame()
df_tipo_ensenanza_genero = pd.DataFrame()
df_tipo_ensenanza_dependencia = pd.DataFrame()

# Llenar dataframes
df_genero['Sexo'] = ['Sin información', 'Hombre', 'Mujer']
df_genero['Cantidad'] = [((desertores_2018_2019['GEN_ALU'] == 0).sum()), 
                          ((desertores_2018_2019['GEN_ALU'] == 1).sum()), 
                          ((desertores_2018_2019['GEN_ALU'] == 2).sum())]
df_genero['Porcentaje'] = [((desertores_2018_2019['GEN_ALU'] == 0).sum()) / len(desertores_2018_2019) * 100,
                            ((desertores_2018_2019['GEN_ALU'] == 1).sum()) / len(desertores_2018_2019) * 100,
                            ((desertores_2018_2019['GEN_ALU'] == 2).sum()) / len(desertores_2018_2019) * 100]

df_tipo_dependencia['Tipo de dependencia'] = ['Municipal', 'Particular subvencionado', 'Particular pagado', 'Corporación de administración delegada', 'Servicio local de educación']
df_tipo_dependencia['Cantidad'] = [((desertores_2018_2019['COD_DEPE2'] == i).sum()) for i in range(1, 6)]
df_tipo_dependencia['Porcentaje'] = [((desertores_2018_2019['COD_DEPE2'] == i).sum()) / len(desertores_2018_2019) * 100 for i in range(1, 6)]

df_tipo_ensenanza['Tipo de enseñanza'] = ['Educación básica', 'Educación media humanístico-científica', 'Educación media técnico profesional', 'Educación para adultos', 'Educación prebásica']
df_tipo_ensenanza['Cantidad'] = [((desertores_2018_2019['COD_ENSE2'] == i).sum()) for i in [1, 2, 3, 6, 8]]
df_tipo_ensenanza['Porcentaje'] = [((desertores_2018_2019['COD_ENSE2'] == i).sum()) / len(desertores_2018_2019) * 100 for i in [1, 2, 3, 6, 8]]



# Imprimir dataframes
display("Total de desertores:", len(desertores_2018_2019))
display("\nDesertores por género del estudiante")
display(df_genero)
display("\nDesertores por tipo de dependencia")
display(df_tipo_dependencia)
display("\nDesertores por tipo de enseñanza")
display(df_tipo_ensenanza)

'Total de desertores:'

151039

'\nDesertores por género del estudiante'

              Sexo  Cantidad  Porcentaje
0  Sin información         0    0.000000
1           Hombre     84774   56.127225
2            Mujer     66265   43.872775

'\nDesertores por tipo de dependencia'

                      Tipo de dependencia  Cantidad  Porcentaje
0                               Municipal     67601   44.757314
1                Particular subvencionado     70071   46.392654
2                       Particular pagado      9329    6.176550
3  Corporación de administración delegada      1133    0.750137
4             Servicio local de educación      2905    1.923344

'\nDesertores por tipo de enseñanza'

                        Tipo de enseñanza  Cantidad  Porcentaje
0                        Educación básica      7529    4.984805
1  Educación media humanístico-científica     31024   20.540390
2     Educación media técnico profesional      7580    5.018571
3                  Educación para adultos     74508   49.330305
4                     Educación prebásica      4653    3.080661

In [12]:
# Comparación 2018-2019

m2018 = pd.read_csv('data/matriculas/2018/m2018.csv', sep=';')
m2019 = pd.read_csv('data/matriculas/2019/m2019.csv', sep=';')

# Identificar desertores
desertores_2018_2019 = identificar_desertores2(m2018, m2019)

print("En el periodo 2018-2019", desertores_2018_2019['MRUN'].nunique(),"y",desertores_2018_2019["MRUN"].nunique() / df_actual["MRUN"].nunique() * 100," porcentaje de estudiantes")

/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_23795/1193114319.py:3: DtypeWarning: Columns (26) have mixed types. Specify dtype option on import or set low_memory=False.
  m2018 = pd.read_csv('data/matriculas/2018/m2018.csv', sep=';')
/var/folders/v5/8__wxdkj3j713bygpr1tsw_80000gn/T/ipykernel_23795/1193114319.py:4: DtypeWarning: Columns (27) have mixed types. Specify dtype option on import or set low_memory=False.
  m2019 = pd.read_csv('data/matriculas/2019/m2019.csv', sep=';')

En el periodo 2018-2019 151039 y 4.167348399420254  porcentaje de estudiantes

#2018-2019

In [38]:
#2018 - 2019
desertores_2018_2019 = identificar_desertores(m2018, m2019)
print("El", desertores_2018_2019['MRUN'].count(),"y",desertores_2018_2019["MRUN"].count() / m2018["MRUN"].count() * 100," porcentaje de estudiantes")

El 145764 y 4.068837844959647  porcentaje de estudiantes

In [21]:
#2019 - 2020
desertores_2019_2020 = identificar_desertores(m2019, m2020)
print("El", desertores_2019_2020['MRUN'].count(),"y",desertores_2019_2020["MRUN"].count() / m2019["MRUN"].count() * 100," porcentaje de estudiantes")

El 151097 y 4.168948689459027  porcentaje de estudiantes

In [24]:
#2020 - 2021
desertores_2020_2021 = identificar_desertores(m2020, m2021)
print("El", desertores_2020_2021['MRUN'].count(),"y",desertores_2020_2021["MRUN"].count() / m2020["MRUN"].count() * 100," porcentaje de estudiantes")

El 114479 y 3.17223021813984  porcentaje de estudiantes

In [25]:
#2021 - 2022
desertores_2021_2022 = identificar_desertores(m2021, m2022)
print("El", desertores_2021_2022['MRUN'].count(),"y",desertores_2021_2022["MRUN"].count() / m2021["MRUN"].count() * 100," porcentaje de estudiantes")

El 143860 y 3.9669583747879473  porcentaje de estudiantes